
body {
    background-color: #246ba3;
    
}

.header-container {
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-img {
    padding: 25px;
    width: 150px;
}

.citas-nav {
    color: #fff;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    padding-right: 50px;
}

.citas-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;  
}

.citas-card {
    width: 400px;
    background-color: #fff;
    height: 330px;
    border-radius: 15px;
}

.tittle-text-container {
    
}

.title-text {
    font-family: 'Hind Siliguri', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.form-container {
    display: flex;

} 

.form {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}


.name-client {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
    width: 340px;
  
}

.name-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
.email-tel-container {
    width: 350px;
    display: flex;
    justify-content: space-between
}

.email-container {
    display: flex;
    flex-direction:column;
}

.email {
    width: 190px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.email-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

.tel-container {
    display: flex;
    flex-direction:column;
    
}

.tel {
    width: 130px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.model-damage-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.model-container {
    display: flex;
    flex-direction: column;
}
.model {
    width: 120px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.model-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}


.tel-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}
.damage-container {
    display: flex;
    flex-direction: column;
}

.damage {
    width: 200px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.damage-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.date-hour-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.date-container {
    display: flex;
    flex-direction: column;
}

.date {
    width: 160px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.date-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.hour-container {
    display: flex;
    flex-direction: column;
}

.hour {
    width: 160px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 3px;
}

.hour-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.button-container {
    padding: 20px;
}

.submit {
    padding: 10px 20px;
    background-color: #246ba3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
}

.submit:hover {
    background-color: #1d5c8b;
    transition: ba;
}

.citas-container {
    
}

.cita-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cita-card p {
    margin: 0;
}

.edit-button {
    padding: 5px 10px;
    background-color: #24a335;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;;
}

.delete-button {
    padding: 5px 10px;
    background-color: #a32424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;
}

.edit-button:hover { 
    background-color: #187224;
}

.delete-button:hover {
    background-color: rgb(87, 16, 16);
}

.title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

@media (max-width:430px){
    
.header-container {
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}  

.citas-card {
    width: 250px;
    background-color: #fff;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle-text-container {
    
}

.title-text {
    font-family: 'Hind Siliguri', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 8px;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 250px;
} 

.form {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.name-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.submit:hover {
    background-color: #1d5c8b;
    transition: ba;
}

.citas-container {
    
}

.cita-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cita-card p {
    margin: 0;
}

.edit-button {
    padding: 5px 10px;
    background-color: #24a335;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;;
}

.delete-button {
    padding: 5px 10px;
    background-color: #a32424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;
}

.edit-button:hover { 
    background-color: #187224;
}

.delete-button:hover {
    background-color: rgb(87, 16, 16);
}

.title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

.name-client {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 2px;
    width: 200px;
  
}

.name-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
.email-tel-container {
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.email-container {
    display: flex;
    flex-direction:column;
}

.email {
    width: 190px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.email-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

.tel-container {
    display: flex;
    flex-direction:column;
    
}

.tel {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
    width: 190px;
}

.model-damage-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.model-container {
    display: flex;
    flex-direction: column;
    margin-bottom:auto 10px;
}
.model {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
    width: 190px;
}

.model-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}


.tel-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}
.damage-container {
    display: flex;
    flex-direction: column;
}

.damage {
    width: 190px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.damage-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.date-hour-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.date-container {
    display: flex;
    flex-direction: column;
}

.date {
    width: 190px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 4px;
}

.date-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.hour-container {
    display: flex;
    flex-direction: column;
}

.hour {
    width: 190px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 3px;
}

.hour-label {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;

}

.button-container {
    padding: 20px;
    width: 250px;
 
}


.submit {
    padding: 10px 20px;
    background-color: #246ba3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
}

.submit:hover {
    background-color: #1d5c8b;
    
}

.citas-container {
    
}

.cita-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cita-card p {
    margin: 0;
}

.edit-button {
    padding: 5px 10px;
    background-color: #24a335;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;
}

.delete-button {
    padding: 5px 10px;
    background-color: #a32424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 200ms linear;
    margin-top: 20px;
}

.edit-button:hover { 
    background-color: #187224;
}

.delete-button:hover {
    background-color: rgb(87, 16, 16);
}

.title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}
}